{% if structure_properties or structure_message %}
<tbody class="material-props-section"{% if structure_tbody_id %} id="{{ structure_tbody_id }}"{% endif %}>
    <tr class="material-props-section__header">
        <th scope="colgroup" colspan="2">{{ structure_section_title|default:"Из параметров структуры" }}</th>
    </tr>
    {% if structure_properties %}
    {% for prop in structure_properties %}
    <tr class="structure-property-row">
        <th scope="row" class="material-props-section__name">{{ prop.label|default:prop.name }}</th>
        <td class="material-props-section__value">
            {% if prop.field_type == 'MaterialLink' and prop.value %}
            <a href="{% url 'materials:detail' prop.value %}">{{ prop.display_value }}</a>
            {% else %}
            {% include 'includes/property_value_with_unit.html' with value=prop.display_value unit=prop.unit %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="material-props-section__empty structure-properties-empty-row">
        <td colspan="2">{{ structure_message }}</td>
    </tr>
    {% endif %}
</tbody>
{% endif %}
